html {
  font-size: 62.5%;
}

.container {
  background-color: #7fb858;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 6px solid black;
}

.container > * {
  flex: 1 1 100%;
  /* border: solid salmon 3px; */
}

header figure {
  width: 100%;
  height: 100%;
}

header figure img {
  width: 100%;
  height: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul li {
  flex: 1 1 100%;
  background-color: #9dcd7c;
  font-size: 1.8rem;
  text-align: center;
  padding: 1.4rem;
  border-radius: 0.5rem;
  border: solid 1px #628249;
  color: #fefefe;
}

.text {
  font-size: 2rem;
  padding: 1rem;
}

.vision figure {
  display: none;
}

/* .vision-img {
  width: 100px;
  height: 70px;
}

.vision-img img {
  width: 100%;
  height: 100%;
} */

/* .boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.boxes > * {
  flex: 1 1 100%;
} */

.boxes {
  border: 3px solid #a41616;
}

.boxes section {
  margin-block-end: 1rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.8rem;
}

.boxes section > * {
  flex: 1 1 100%;
}

.boxes section div {
  background-color: #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-block-end: 1rem;
}

/* .boxes .news {
  margin-block-end: 0;
}

.boxes section .news div {
  margin-block-end: 0;
} */

.boxes section div h1 {
  font-size: 1.6rem;
  margin-inline-start: 1rem;
}

.boxes section div svg {
  width: 20px;
  height: 20px;
  margin-inline-end: 1rem;
}

/* .boxes section > * {
  flex: 1 1 100%;
} */

.specials figure img {
  width: 100%;
}

.events figure img {
  width: 100%;
}

table tr .td1 {
  width: 30px;
}

table tr td strong {
  font-weight: 900;
}

footer {
  padding: 0.5rem;
  font-size: 1.2rem;
}

footer .address {
  padding-block-end: 0.5rem;
}

.footer-svg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer svg {
  width: 20px;
  height: 20px;
  fill: white;
}

@media only screen and (min-width: 427px) {
  .vision {
    padding: 1rem;
    background-color: white;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
  .beige {
    background-color: bisque;
    display: flex;
    align-items: center;
    /* border: 2px solid blueviolet; */
  }

  .beige .text {
    flex: 2 1 100%;
  }

  .vision figure {
    display: block;
    max-width: 100%;
    background-color: white;
  }

  .vision figure img {
    width: 100%;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .specials {
    flex: 1 1 0;
    max-width: 50%;
  }

  .events {
    flex: 1 1 0;
    max-width: 50%;
  }

  .news {
    flex: 1 1 100%;
  }

  .logo {
    border: 2px solid yellow;
    max-width: 50%;
  }

  header figure {
    width: 100%;
    height: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 769px) {
  .news {
    flex: 1 1 0;
    max-width: 50%;
  }

  /* .news div {
    height: 20px;
  } */
}
